<header class="cabecalho">
    <div class="container-grid header-flex">
        <!--container flex -->
        <img class="logo" src="assets/imagens/logo.svg" alt="Logo E-players">

        <nav class="menu">
            <a routerLink="">Inicío</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/produtos">Produtos</a>
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
        </nav>

        <img onclick="abreFechaMenu();" class="menu-bars" src="/assets/imagens/bars.svg" alt="">
    </div>


</header>
